RewriteEngine On
RewriteRule ^home index.php [NC,L]
RewriteRule ^theme theme.php [NC,L]
RewriteRule ^board board.php [NC,L]
RewriteRule ^projects projects.php [NC,L]
RewriteRule ^rhema-choir choir.php [NC,L]
RewriteRule ^children-ministry ministries/children.php [NC,L]
RewriteRule ^mens-ministry ministries/men.php [NC,L]
RewriteRule ^women-ministry ministries/women.php [NC,L]
RewriteRule ^youth-ministry ministries/youth.php [NC,L]
RewriteRule ^evangelism-ministry ministries/evangelism.php [NC,L]
RewriteRule ^mission mission.php [NC,L]
RewriteRule ^new-members new_members.php [NC,L]
RewriteRule ^news-and-events news.php [NC,L]
RewriteRule ^gallery gallery.php [NC,L]
RewriteRule ^sermon sermon.php [NC,L]
RewriteRule ^calendar calendar.php [NC,L]
RewriteRule ^contact contact.php [NC,L]
RewriteRule ^annual-report annual_report.php [NC,L]
RewriteRule ^membership membership.php [NC,L]
RewriteRule ^baptism baptism.php [NC,L]
RewriteRule ^salvation salvation.php [NC,L]
RewriteRule ^serve serve.php [NC,L]
RewriteRule ^church church-news.php [NC,L]
RewriteRule ^events our-event.php [NC,L]
RewriteRule ^download download.php [NC,L]
RewriteRule ^service service.php [NC,L]
RewriteRule ^archive archive.php [NC,L]
RewriteRule ^announcement-archive announcement-archive.php [NC,L]
RewriteRule ^newsarchive news-archive.php [NC,L]
RewriteRule ^announcements announcement.php [NC,L]
RewriteRule ^donate give.php [NC,L]
RewriteRule ^members-form members-form.php [NC,L]
RewriteRule ^payment payment.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d [NC]
RewriteCond %{REQUEST_FILENAME} !-f [NC]
RewriteRule ^([0-9]+) announcement-detail.php?u=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d [NC]
RewriteCond %{REQUEST_FILENAME} !-f [NC]
RewriteRule ^(.*)$ event-detail.php?p=$1 [NC]

